# Automatically created by OE
serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
search --no-floppy --set=root -l 'boot'
default=OpenHarmony
timeout=2

menuentry 'OpenHarmony'{
linux /Image LABEL=boot root=/dev/ram0 hardware=dayu300 rootfstype=ext4 loglevel=7
initrd /ramdisk.img
}

menuentry 'OpenHarmony-NVME'{
linux /Image LABEL=boot root=/dev/ram0 hardware=dayu300 disk=nvme rootfstype=ext4 loglevel=7
initrd /ramdisk.img
}

menuentry 'OpenHarmony-SATA'{
linux /Image LABEL=boot root=/dev/ram0 hardware=dayu300 disk=sata rootfstype=ext4 loglevel=7
initrd /ramdisk.img
}

menuentry 'OpenHarmony-USB'{
linux /Image LABEL=boot root=/dev/ram0 hardware=dayu300 disk=usb rootfstype=ext4 loglevel=7
initrd /ramdisk.img
}

menuentry 'OpenHarmony-SDCARD'{
linux /Image LABEL=boot root=/dev/ram0 hardware=dayu300 disk=sdcard rootfstype=ext4 loglevel=7
initrd /ramdisk.img
}

menuentry 'Updater'{
linux /Image LABEL=boot root=/dev/ram0 hardware=phytium rootfstype=ext4 loglevel=1 enforcing=0
initrd /updater.img
}
